__pycache__/
*.pyc
*.pyo
.git
.gitignore
.vscode/
.idea/
venv/
.venv/
.venv-1/
venv310/
tf_gpu_env/
.ipynb_checkpoints/
Cardamom_Plant_Dataset_Chinnahalli_1724/
paper/
U-2-Net-master/
phytograde.tar
*.tar
*.tar.*
__MACOSX/
.vs/
EfficientNetV2/train/
EfficientNetV2/confusion_matrix.png
EfficientNetV2/Untitled
EfficientNetV2/effv2_sanity_model.h5
EfficientNetV2_Cardamom_Warmup.h5
effV2-L.h5
test_model.h5